/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

$title-block-bg-color:       darkblue !default;
$title-block-text-color:     white !default;
$title-block-font-weight:    bold !default;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}

.title-block {
  background-color: $title-block-bg-color;
  color: $title-block-text-color;
  font-weight: $title-block-font-weight;
}

.title-block .title, .title-block .subtitle {
  color: $title-block-text-color;
  font-weight: $title-block-font-weight;
}
